__pycache__/
*.py[cod]

.dotnet_cli/
.nuget/
.appdata/

debug_layout.log

app_settings.json
clicker_settings.json
theme_settings.json
theme_presets.json
settings_presets.json

.vs/
.vscode/
bin/
obj/
